@model IEnumerable<MatriculasAPI.Models.EstudianteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPlanEstudioFk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioFk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoUsuarioFk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlanEstudioFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoUsuarioFk)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdEstudiante }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdEstudiante }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdEstudiante })
            </td>
        </tr>
}
    </tbody>
</table>
