@model FrontEnd.Models.MatriculaViewModel

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaMatricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCursoFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCursoFkNavigation.CodigoCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstudianteFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstudianteFkNavigation.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPlanEstudioFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPlanEstudioFkNavigation.NombrePlanEstduio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMatricula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
