@model IEnumerable<MatriculasAPI.Models.TipoUsuarioViewModel>

@{
    ViewData["Title"] = "Tipos de Usuario";
}

<h1>Tipos de Usuario</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.IdTipoUsuario }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.IdTipoUsuario }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.IdTipoUsuario })
            </td>
        </tr>
}
    </tbody>
</table>
