@model MatriculasAPI.Models.CursoViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Seguro que quiere borrar este curso?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_CURSO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_CURSO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOMBRE_CURSO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOMBRE_CURSO)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(Model=>Model.ID_CURSO)
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
