@model IEnumerable<MatriculasAPI.Models.CursoViewModel>

@{
    ViewData["Title"] = "Cursos ";
}
<head>
     <meta charset="UTF-8">
    <title>Hello Datatables with buttons!</title>

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>

    <!-- Datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css">
    <script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>

    <!-- Buttons -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<h1>Cursos</h1>
@if (User.IsInRole("ADMIN"))
                {
<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
                }
</head>
<body>
<table class="table table-bordered table-hover" id="VerMatricula">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_CURSO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_CURSO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CODIGO_CURSO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRECIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CREDITOS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DURACION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HORARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NATURALEZA_CURSO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_PLAN_ESTUDIO_FK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_CURSO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_CURSO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CODIGO_CURSO)
                </td>
                <td>
                    ₡@Html.DisplayFor(modelItem => item.PRECIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CREDITOS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DURACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HORARIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NATURALEZA_CURSO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_PLAN_ESTUDIO_FK)
                </td>
                @if (User.IsInRole("ADMIN"))
                {
                    <td>

                        @Html.ActionLink("Editar", "Edit", new { id=item.ID_CURSO }) |
                        @Html.ActionLink("Detalles", "Details", new { id=item.ID_CURSO }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_CURSO })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
     
         $(document).ready(function () {
            $('#mydatatable thead th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Filtrar.." />');
            });

            var table = $('#VerMatricula').DataTable({
                "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
                "responsive": false,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
                "order": [
                    [0, "desc"]
                ],
                "initComplete": function () {
                    this.api().columns().every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    })
                },
                "buttons": [ 'excel', 'pdf', 'print']
            });
        });
    </script>
</body>