@model IEnumerable<MatriculasAPI.Models.CursoViewModel>

@{
    ViewData["Title"] = "Cursos ";
}

<h1>Cursos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_CURSO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_CURSO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CODIGO_CURSO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRECIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CREDITOS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DURACION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HORARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NATURALEZA_CURSO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_PLAN_ESTUDIO_FK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_CURSO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_CURSO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CODIGO_CURSO)
                </td>
                <td>
                    ₡@Html.DisplayFor(modelItem => item.PRECIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CREDITOS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DURACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HORARIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NATURALEZA_CURSO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_PLAN_ESTUDIO_FK)
                </td>
                @if (User.IsInRole("ADMIN"))
                {
                    <td>

                        @Html.ActionLink("Editar", "Edit", new { id=item.ID_CURSO }) |
                        @Html.ActionLink("Detalles", "Details", new { id=item.ID_CURSO }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_CURSO })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
