@model IEnumerable<MatriculasAPI.Models.PlanEstudioViewModel>

@{
    ViewData[""] = "Planes de Estudio";
}

<h1>Planes de Estudio</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPlanEstudio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePlanEstduio)
            </th>
            @if (User.IsInRole("ADMIN"))
                {
            <th>
                <label for="Name">Acciones</label>
            </th>
                }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPlanEstudio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePlanEstduio)
                </td>
                @if (User.IsInRole("ADMIN"))
                {
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id=item.IdPlanEstudio }) |
                        @Html.ActionLink("Detalles", "Details", new { id=item.IdPlanEstudio }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id=item.IdPlanEstudio })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
